<!doctype html>
<title>Thai-Finder</title>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="page">
  <h1>Thai Finder</h1>
  <h2> Welcome to Thai-Finder!</h2>
  <h3> Thai-Finder helps you select the Thai restaurants with the highest inspection grades by boro. Select a boro to begin!</h3>
  <label for="boros">Boro: </label>
  <select id="filter">
    <option disabled selected value> -- select an option -- </option>
    {% for boro,names in data.items() %}
      <option value="{{ boro }}">{{ boro }}</option>
    {% endfor %}
  </select>
  <ol id="name">
  </ol>
</div>
<script>
  var data = $.parseJSON('{{ data|tojson|safe }}');
  var getData = function() {
      var filterVal = $('#filter').val();
      return data[filterVal];
  };

  $(document).ready(function(){
    $("#name").html(getData());
    $('#filter').change(function (e) {
      $("#name").empty();
      for (i = 0; i < getData().length; i++) {
        $("#name").append($("<li>" + getData()[i] + "</li>"));
      };
    });
  });
</script>
</body>
</html>
