<!doctype html>
<title>Thai-Finder</title>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/cosmo/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="jumbotron">
      <h1>Thai-Finder</h1>
        <h3> Thai-Finder helps you select the Thai restaurants with the highest inspection grades by boro. Select a boro to begin!</h3>
          <label for="boros">Boro: </label>
          <select id="filter">
            <option disabled selected value> -- select an option -- </option>
            {% for boro,names in data.items() %}
              <option value="{{ boro }}">{{ boro }}</option>
            {% endfor %}
          </select>
        </div>
  <ol id="name" class="list-group">
  </ol>
</div>
<script>
  var data = $.parseJSON('{{ data|tojson|safe }}');
  var getData = function() {
      var filterVal = $('#filter').val();
      return data[filterVal];
  };

  $(document).ready(function(){
    $("#name").html(getData());
    $('#filter').change(function (e) {
      $("#name").empty();
      for (i = 0; i < getData().length; i++) {
        $("#name").append($("<li class='list-group-item'>" + getData()[i] + "</li>"));
      };
    });
  });
</script>
</body>
</html>
